/* *{
    text-align: right;
} */

body {
    background-image: url(bg_img.jpg);
    background-size: cover;
}

h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 5px;
    font-style: italic;
    font-weight: bold;
    font-size: 180%;
    font-family: 'Poiret One', cursive;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:last-child {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: blue;
    opacity: .2;
}

#div2 {
    background: red;
    opacity: .2;
}